/* Estilo do projeto */

* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #b9d9d9; /*cor do fundo*/
	color:#3d3d3d; /* cor da fonte */
	font-family: helvetica; /* estilo da fonte*/
}

header{
	background-color: #ffffff;
	padding: 20px; /* espaçamento interno do elemento*/
  text-align: center;
}

main{
	max-width: 1200px; /* largura máxima do projeto */
	margin:0px auto;
}

#banner{
	background-color: #ffffff; /* cor de fundo*/
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}

.img_banner{
	width: 400px;
	margin: 0 auto;
	display: block; /* nesse caso o display é necessário para o margin funcionar */
}

#servicos{
	background-color: #ffffff; /* cor de fundo*/
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}

#servicos ul{
	padding-left: 20px;
}

#servicos ul li{
	padding-top: 5px;
}

#funcionamento{
	background-color: #ffffff; /* cor de fundo*/
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}

footer{
	background-color: #ffffff;
	padding: 10px;
	text-align: center; /* alinha o texto ao centro */
}

nav{
    background-color: #e6e6e6;
    padding: 20px;
    text-align: center;
}


nav ul li {
  display: inline; /* apresenta itens de forma horizontal */
  padding: 20px ;

}

nav ul li a {
  text-decoration: none; /*remove underline */
  color:#3d3d3d

}

 /* Estilo de Formulário */
 #contato {
   background-color: #b9d9d9; /* cor de fundo */
   margin: 10px;
   padding: 20px;
   border-radius: 10px;
   
 }

fieldset{
    border: 2px solid #b9d9d9;
	border-radius: 10px;
	padding: 20px;

 }

input{
   margin: 10px 0px;
 }

.text{
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.check{
   padding-right:10px;
}

.button{
   background-color: #3d3d3d;
   color:#ccc;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   border: none
   
}

.button:hover{
   background-color: #b9d9d9;

}

.titulocliente {
	margin: 20px;
	text-align: center;
}

.fileira {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.clientes {
    text-align: center;
}

.fotocliente {
    width: 300px;
    border-radius: 15px;
    margin: 5px;
}

.cliente{
    background-color: #ffffff;
    border-radius: 20px;
	padding-bottom: 10px;
    transition: 0.3s;
}

.cliente:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}